@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900);
:root {
  --bg-color: #f8f8f8;
  --bg-color__light: #9e9e9e33;
  --clock-color: #f26419;
  --text-color: #332f2f;
  --alt-text-color: #2066b2;
  --accent-color: #f26419;
}
body {
  margin: 0;
  background-color: var(--bg-color);
}
a.nostyle {
  text-decoration: none;
}
a.nostyle:hover {
  text-decoration: none;
  opacity: 1;
}
#app {
  font-family: "Consolas", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 16px;
  width: 75vw;
  margin-left: 12.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clock {
  /* Text */
  font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif;
  font-size: 3em;
  margin-top: 20vh;
  color: var(--clock-color);
  margin-bottom: 10vh;
}
#search-box {
  /* Text */
  font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif;
  font-size: 1.3em;
  resize: none;
  text-align: left;
  /* Display */
  width: 100%;
  height: 60px;
  padding: 0vw 2vw;
  margin-bottom: 2vh;
  /* Coloring / Styling */
  color: #2f4858;
  border-width: 0;
  outline: none;
  border-radius: 1px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
button {
  align-self: flex-end;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.btn__flat {
  text-decoration: none;
  margin: 2px 0;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  transition: all 0.2s;
  color: var(--text-color);
  background-color: var(--bg-color);
}
.__align-right {
  text-align: right;
}
.__align-left {
  text-align: left;
}
.btn__flat:active {
  transform: translateY(2px);
}
.btn__flat:hover {
  background-color: var(--bg-color__light);
}
button:focus {
  outline: none;
}
#overlay {
  width: 80vw;
  min-height: 60%;
  max-height: 80%;
  overflow-y: scroll;
  background-color: white;
  position: absolute;
  top: 10%;
  font-family: sans-serif;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
#overlay .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 3vh;
  padding: 2vh 8px 2vh 8px;
  color: #fff;
  background-color: var(--text-color);
}
#overlay .subtitle {
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 3vh;
  color: var(--text-color);
}
#overlay .key {
  color: var(--bg-color);
  background: var(--text-color);
  padding: 2px 4px 3px 4px;
  border-radius: 5px;
}
section#commandListingContainer {
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
section .commandList {
  min-width: 30%;
  color: var(--text-color);
}
section .commandList dd {
  margin-bottom: 16px;
  list-style: none;
  margin-inline-start: 0;
  margin-left: 0;
}
section .commandList h3 {
  text-align: center;
  font-family: sans-serif;
}
section .commandList .command {
  font-family: monospace;
  font-size: 0.8em;
  color: var(--alt-text-color);
}
h1.title {
  margin-top: 0;
}
.warning {
  margin-top: 2vh;
  margin-left: 2vh;
  min-width: 15vw;
  background-color: #e74c3c;
  border-left-color: #b82e24;
  font-size: 1.1em;
}
.phil-denhoff-logo {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 1.6em;
  color: #000;
  line-height: 0.2em;
  margin-top: 2vh;
  cursor: default;
  text-decoration: none;
}
.logo-lead-in {
  margin-block-end: 0em;
  color: var(--text-color);
  opacity: 0.8;
  font-family: Roboto;
}
.credit {
  position: static;
  text-align: center;
  margin-top: 80px;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}
.exit {
  width: 20px;
  height: 20px;
  left: 50%;
  top: -6px;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg viewPort='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1' y1='20' x2='20' y2='1' stroke='white' stroke-width='2'/%3E%3Cline x1='1' y1='1' x2='20' y2='20' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
}
header > h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: inherit;
  font-size: inherit;
  max-height: 1em;
}
@media only screen and (min-width: 600px) {
  #app {
    width: 50vw;
    margin-left: 25vw;
  }
  .clock {
    font-size: 6em;
  }
  #search-box {
    font-size: 1.625 em;
    height: 10vh;
  }
  section#commandListingContainer {
    flex-direction: row;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    filter: invert();
    background-color: #000;
  }

  .clock {
    filter: invert();
  }

  #overlay,
  #search-box {
    box-shadow: none;
  }

  #search-box {
    background-color: #ddd;
    border: none;
  }
}
