:root {
	/*--bg-color: #DED7B8;
	--text-color: #95CBB7;
	--accent-color: #539B91*/
	--bg-color: #2F4858;
	--text-color: #F26419;
	--accent-color: #F26419;
	/* colors from https://coolors.co/55dde0-33658a-2f4858-f6ae2d-f26419 */
}

body {
	font-size: 16px;
	padding: 3vh;
	width: 94vw;
	background-color: var(--bg-color);
}

.container {
	/* Display */
	display: flex;
	flex-direction: column;
	align-items: center;
}

#timerContainer {
	display: flex;
	flex-direction: column;
	animation: fadeout 0.800s;
}

#search-box {
	/* Text */
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 1.625em;
	resize: none;
	text-align: center;
	/* Display */
	width: 40vw;
	height: 8vh;
	padding: 0px 2vw;
	margin-bottom: 8vh;
	/* Coloring / Styling */
	color: var(--accent-color);
	border-width: 0px;
	border-bottom: 2px solid var(--text-color);
	background-color: var(--bg-color);
	outline: none;
}

#clock {
	/* Text */
	font-family: monospace;
	font-size: 6em;
	text-align: center;
	margin-top: 20vh;
	color: var(--text-color);
}

#timer, .additionalTimer {
	/* Text */
	font-family: monospace;
	font-size: 4.5em;
	text-align: center;
	margin-top: 16vh;
	color: var(--text-color);
	animation: fadein 0.800s;
}

.additionalTimer {
	margin-top: 0vh;
	font-size: 2.5em;
}

div[role=alert] {
	font-family: monospace;
}

@media only screen and (max-width: 768px) {
	#clock {
		font-size: 15em;
	}

	#timer {
		font-size: 8em;
	}

	#search-box {
		font-size: 4em;
		margin-top: 8vh;
		width: 75vw;
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
