:root {
	/*--bg-color: #DED7B8;
	--text-color: #95CBB7;
	--accent-color: #539B91*/
	--bg-color: #2F4858;
	--text-color: #F26419;
	--alt-text-color: #332f2f;
	--accent-color: #F26419;
	/* colors from https://coolors.co/55dde0-33658a-2f4858-f6ae2d-f26419 */
}

body {
	font-size: 16px;
	width: 100vw;
	margin: 0;
	background-color: var(--bg-color);
}

.container {
	/* Display */
	display: flex;
	flex-direction: column;
	align-items: center;
}

#timerContainer {
	display: flex;
	flex-direction: column;
	animation: fadeout 0.800s;
}

#search-box {
	/* Text */
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 1.625em;
	resize: none;
	text-align: center;
	/* Display */
	width: 40vw;
	height: 8vh;
	padding: 0px 2vw;
	margin-bottom: 8vh;
	/* Coloring / Styling */
	color: var(--accent-color);
	border-width: 0px;
	border-bottom: 2px solid var(--text-color);
	background-color: var(--bg-color);
	outline: none;
}

#clock {
	/* Text */
	font-family: monospace;
	font-size: 6em;
	text-align: center;
	margin-top: 20vh;
	color: var(--text-color);
}

#timer, .additionalTimer {
	/* Text */
	font-family: monospace;
	font-size: 4.5em;
	text-align: center;
	margin-top: 16vh;
	color: var(--text-color);
	animation: fadein 0.800s;
}

.additionalTimer {
	margin-top: 0vh;
	font-size: 2.5em;
}

div[role=alert] {
	font-family: monospace;
}

#overlay {
	width: 100vw;
	height: 100%;
	margin: 0;
	background-color: #F26419;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 0vh;
	transition: opacity 0.4s, visibility 0s 0.4s;
	font-family: sans-serif;
}
#overlay.open {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.6s;
	animation: slidedown 0.6s;
}

#overlay .title {
	text-align: center;
	font-family: sans-serif;
	font-size: 2em;
	margin-top: 5%;
	margin-bottom: 1vh;
	color: var(--alt-text-color);
}

#overlay .subtitle {
	text-align: center;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: 200;
	margin-top: 0;
	margin-bottom: 3vh;
	color: var(--alt-text-color);
}

#overlay .key {
    color: var(--text-color);
    background: var(--alt-text-color);
    padding: 2px 4px 3px 3px;
    border-radius: 5px;
}

section #commandListingContainer {
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	display: flex;
	flex-direction: row;
}

section .commandList {
	width: 30%;
	color: var(--alt-text-color);
}

section .commandList li {
	margin-bottom: 16px;
	list-style: none;
}

section .commandList h3 {
	text-align: center;
	font-family: sans-serif;
}

section .commandList .command {
	font-family: monospace;
	font-size: 0.8em;
	color:  var(--bg-color);
}

@media only screen and (max-width: 768px) {
	#clock {
		font-size: 15em;
	}

	#timer {
		font-size: 8em;
	}

	#search-box {
		font-size: 4em;
		margin-top: 8vh;
		width: 75vw;
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slidedown {
    from { top: -10vh; }
    to   { top: 0vh; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
